﻿@inherits UmbracoViewPage<SearchModel>
@using UmbracoExamineSearch.Controllers
@using UmbracoExamineSearch.Models

@using (Html.BeginUmbracoForm<SearchSurfaceController>("Search", FormMethod.Get))
{
    <fieldset>
        <div>
            @Html.TextBoxFor(x => x.SearchText)
            @Html.ValidationMessageFor(x => x.SearchText)
        </div>
    </fieldset>
    <input type="submit" value="Search" />
}
