<?xml version="1.0"?>
<!-- 
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to create your own index sets.
Index/Search providers can be defined in the UmbracoSettings.config

More information and documentation can be found on CodePlex: http://umbracoexamine.codeplex.com
-->
<ExamineLuceneIndexSets>
  <!-- The internal index set used by Umbraco back-office - DO NOT REMOVE -->
  <IndexSet SetName="InternalIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/Internal/"/>

  <!-- The internal index set used by Umbraco back-office for indexing members - DO NOT REMOVE -->
  <IndexSet SetName="InternalMemberIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/InternalMember/">
    <IndexAttributeFields>
      <add Name="id"/>
      <add Name="nodeName"/>
      <add Name="updateDate"/>
      <add Name="writerName"/>
      <add Name="loginName"/>
      <add Name="email"/>
      <add Name="nodeTypeAlias"/>
    </IndexAttributeFields>
  </IndexSet>

  <!-- Default Indexset for external searches, this indexes all fields on all types of nodes-->
  <IndexSet SetName="ExternalIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/External/">
    <IndexAttributeFields>
      <!-- Set here all page properties that we want to be indexed. -->
      <add Name="id"/>
      <add Name="version"/>
      <add Name="parentID"/>
      <add Name="level"/>
      <add Name="writerID"/>
      <add Name="creatorID"/>
      <add Name="nodeType"/>
      <add Name="template"/>
      <add Name="sortOrder"/>
      <add Name="createDate"/>
      <add Name="updateDate"/>
      <add Name="nodeName"/>
      <add Name="urlName"/>
      <add Name="writerName"/>
      <add Name="creatorName"/>
      <add Name="nodeTypeAlias"/>
      <add Name="path"/>
    </IndexAttributeFields>
    <IndexUserFields>
      <!-- Set here all site custom properties that we want to be indexed. -->
      <add Name="testTitle" EnableSorting="true"/>
      <add Name="testDescription" EnableSorting="true"/>
      <add Name="content" EnableSorting="true"/>
    </IndexUserFields>
    <IncludeNodeTypes>
      <!-- Set here all site document types that we want to be indexed. -->
      <add Name="Test"/>
      <add Name="Home"/>
    </IncludeNodeTypes>
    <ExcludeNodeTypes>
      <!-- Set here all site document types that we want to NOT be indexed. -->
    </ExcludeNodeTypes>
  </IndexSet>
  <IndexSet SetName="PDFIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/PDFs"/>
</ExamineLuceneIndexSets>