<IndexSet SetName="ExternalIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/External/">
  <IndexAttributeFields>
    <!-- Set here all page properties that we want to be indexed. -->
  </IndexAttributeFields>
  <IndexUserFields>
    <!-- Set here all site custom properties that we want to be indexed. -->
  </IndexUserFields>
  <IncludeNodeTypes>
    <!-- Set here all site document types that we want to be indexed. -->
  </IncludeNodeTypes>
  <ExcludeNodeTypes>
    <!-- Set here all site document types that we want to NOT be indexed. -->
  </ExcludeNodeTypes>
</IndexSet>


